/* Fuente general y reset */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #212121;
}

/* Login */
.login-container {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.login-container h1 {
  color: #1976D2;
}

.login-container p.sub {
  color: #555;
}

.form-group {
  text-align: left;
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #90caf9;
  font-size: 1rem;
  background-color: #ffffff;
}

.login-button {
  background-color: #1976D2;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1565c0;
}

/* Estilos para acordeón desplegable */
.accordion-body {
  background-color: white;
}

.accordion-body a {
  color: #212121;
  text-decoration: none;
  padding: 0.4rem 0.5rem;
  display: block;
  border-radius: 8px;
}

.accordion-body a:hover {
  background-color: #e3f2fd;
  color: #1976D2;
}

/* Centrado vertical del login */
body.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Logout */
.logout-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 250px; /* mismo ancho que el sidebar */
  display: flex;
  justify-content: center;
}

.logout-btn {
  background-color: #e53935;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.logout-btn:hover {
  background-color: #c62828;
}

/* COLOR CELESTE PARA FONDO DE LOGIN Y REGISTER */
.login-page {
  background-color: #2F80ED;
}


.mensaje-col:hover {
  white-space: normal;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.estado-leido {
  color: green;
  font-weight: bold;
}

.estado-no-leido {
  color: #d84315;
  font-weight: bold;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 8px;
  background: #e0f7fa;
  border-radius: 8px;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #b3e5fc;
  border-radius: 8px;
}
html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
  background: #81d4fa;
}
html, body {
  scrollbar-width: thin;
  scrollbar-color: #b3e5fc #e0f7fa;
}


</style>





