{% extends "base_dashboard.html" %}



{% block panel_header %}
  <a href="{{ url_for('admin.dashboard') }}" class="text-white text-decoration-none">Panel Admin</a>
{% endblock %}


{% block content %}
<div class="admin-container">
<h4>Eliminar un usuario existente</h4>
<form method="POST" action="{{ url_for('admin.eliminar_usuario') }}">
  <div class="form-group">
    <label for="dni">DNI del usuario a eliminar:</label>
    <input type="text" name="dni" id="dni" required class="form-control">
  </div>
  <button type="submit" class="btn btn-danger mt-3">Eliminar usuario</button>
</form>

<div class="mt-3">
  <a href="{{ url_for('admin.dashboard') }}" class="btn btn-secondary">&larr; Volver al panel</a>
</div>
{% endblock %}

</div>